Xbim.BCF.Tests/2.0/XSD/project20.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProjectExtension">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Project" type="Project"/>
        <xs:element name="ExtensionSchema" type="xs:anyURI"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Project">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="ProjectId" type="xs:string"/>
  </xs:complexType>
</xs:schema>